.social {
  color: red;
  text-align: center;
  width: 20em;
  margin: 0 auto;


  .social-method {
    width: 33.3%;
    float: left;
    height: 3em;
    .social-icon {
      margin: 0 auto;
      margin-bottom: 2em;
      width: 3em;
    }
  }
}

.books {

}