.social {
  color: red;
  text-align: center;

  p {
    font-wight: normal;
    text-align: center;
    color: $secondary-text-color;
    margin: 2em;
  }

  .social-method {
    width: 33.3%;
    float: left;
    .social-icon {
      margin: 0 auto;
      margin-bottom: 2em;
      width: 3em;
    }
  }
}

.books {

}