@import 'common';

header {
	height: 5em;
	background-color: $primary-color;
}

.action {
	height: 13em;
	.action-button {
		margin: 0 auto;
		margin-top: 7em;

	}
}

.haoduo {
	height: 14em;
	background-color: $primary-color;
	h2 {
		color: $primary-color-text;
		text-align: center;
		font-weight: normal;
		margin-top: 2em;
	}

	p {
		text-align: center;
		color: $primary-color-text;
		opacity: .7;
	}

	a.visit-my-github {
		display: block;
		width: 12em;
		text-align: center;
		padding: .8em;
		margin: 1.5em auto;
		font-size: 0.8em;
		color: $primary-color-text;
		background-color: $primary-color-dark;
		border-radius: 1em;
	}
}

.books {
	p {
		font-wight: normal;
		text-align: center;
		color: $secondary-text-color;
		margin: 2em;
	}

	.book {
		@media (min-width: 600px) {
			width: 33.3%;
			float: left;
		}

		.cover {
			display: block;
			margin: 0 auto;
			margin-bottom: 2em;
			width: 70%;
		}
	}
}

footer {
	height: 5em;
	background-color: #212121;
}